:root {
    --white: #FFFFFF;
    --black: #000000;
    --lightBlue: #d6e8f5;
    --purple: #09203e;
    --blue: #008a99;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
}
.inactive {
    display: none;
}
.logo {
    width: 165px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}
.menu-item {
    border-right: #999999 1px solid;
}
.active {
    background-color: #F4F4F4;
    color: #008A99 !important; 
    font-weight: bold;
}
nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    color: #414141;
    margin: 0 16px;
}
nav ul li a:hover {
    font-weight: bold;  
}
.card-container {
    display: flex;
    justify-content: center;
}
.card {
    margin-top: 16px;
    width: 80vw;
    height: 75vh;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.perfil {
    width: 50%;
    border-radius: 100%;
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* certificados.html */
.diplomas-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.diploma-container {
    margin-top: 16px;
    height: 75vh;
    width: auto;
}
.diploma-container img {
    margin-top: 16px;
    height: 100%;
}

/* contacto.html */
.contactos-container {
    display: flex;
    justify-content: center;
    background-color: white;
}
.contacto-container {
    width: 80vw;
    height: 75vh;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
}
.contact-left,
.contact-right {
    padding: 32px;
    background-color: #FAFAFA;
    text-align: center;
}
.contact-left img,
.contact-right img {
    padding: 0;
    margin: 0;
    width: 60px;
    color: #008A99;
}
.contact-left p,
.contact-right p {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

@media (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }
}
@media (max-width: 1023px) {
    .ham-menu {
        display: block;
    }
    .logo {
        display: flex;
        align-self: center;
        text-align: center;
    }
    .menu-items-container {
        display: none;
    }
    .mobile-menu-container {
        position: absolute;
        background-color: white;
        padding: 0;
    }
    .mobile-menu-container li {
        padding: 4px 16px;
        list-style: none;
    }
    .mobile-menu-container li a {
        text-decoration: none;
        color: #414141;
    }
    .mobile-menu-container li a:hover {
        font-weight: bold;
    }
    .contactos-container {
        display: flex;
        justify-content: center;
        background-color: white;
    }
    .contacto-container {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-left,
    .contact-right {
        padding: 32px;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .card-container {
        display: flex;
        justify-content: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        width: 80vw;
        height: 75vh;
        padding: 16px;
        background-color: #FAFAFA;
    }
    .card-left img {
        width: 25%;
    }
    .diploma-container {
        width: 80vw;
        height: auto;

    }
    .diploma-container img {
        width: 100%;
        object-fit: contain;
    }
    .contact-left p,
    .contact-right p {
        font-size: 24px;
        font-weight: bold;
    }
}