:root {
    --white: #FFFFFF;
    --black: #000000;
    --lightBlue: #d6e8f5;
    --purple: #09203e;
    --blue: #008a99;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
}
.logo {
    width: 165px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}
.menu-item {
    border-right: #999999 1px solid;
}
.active {
    background-color: #F4F4F4;
    color: #008A99;
    font-weight: bold;
}
nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    color: #414141;
    margin: 0 16px;
}
nav ul li a:hover {
    font-weight: bold;  
}
.card-container {
    display: flex;
    justify-content: center;
}
.card {
    margin-top: 16px;
    width: 80vw;
    height: 75vh;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.perfil {
    width: 50%;
    border-radius: 100%;
}
.name {

}
.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.description {
    /* width: 100%; */
    /* height: 80%; */
}
